/*Comment box*/
#comment-box-container {
    width:100%;
}
#comment-box {
    width: 100%;
}
#comment-box-submit-button {
    display: inline-block;
    width: 200px;
    padding: 8px;
    color: #000;
    border: 1px solid #000;
    text-align: center;
    outline: none;
    text-decoration: none;
}

#comment-box-submit-button:hover,
#comment-box-submit-button:active {
  background-color: #000;
  color: #fff;
}


#comments-list {
/* avoid an excessively wide status text */
    word-wrap: break-word;
}

:root {
    --habla-color: rgb(112, 48, 160);
    --secondary-color: rgb(170, 114, 212);
}

/*Master Container*/
#habla {
    background-color: rgb(256,256,256); /* Fallback color */
    border-left: solid var(--habla-color);
    display: block; /* Hidden by default */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    position: fixed; /* Stay in place */
    right: 0;
    top: 0;
    width: 300px; /* Full width */
    z-index: 999999; /* Sit on top */
}

/*Habla logo on landing page*/
.logo {
    display: block;
    margin: 20px auto;
    width: 300px;
}

/*Buttons on landing page*/
.landingButton {
    font-size: 24px;
    padding: 15px 30px;
    width: 240px;
}

/*Back button*/
.backButton {
    background: none;
    border: none;
    color: var(--habla-color);
    display: block;
    font-size: 12px;
    margin-left: 50px;
    padding: 0px;
}

.backButton:hover {
    color: var(--secondary-color);
}

/*Other buttons*/
.generalButton {
    font-size: 20px;
    padding: 10px 30px;
    width: auto;
}

/*Button base*/
.landingButton, .generalButton {
    display: block;
    border-color: var(--habla-color);
    border-radius: 8px;
    border-style: solid;
    box-shadow: none;
    background-color: var(--habla-color);
    color: rgb(256,256,256);
    height: auto;
    margin: 30px auto;
}

.landingButton:hover, .generalButton:hover {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
}

/*Input labels*/
.inputLabel {
    display: block;
    font-size: 18px;
    font-weight: bold;
    float: left;
    margin: 5px 0px;
}

/*Input boxes*/
.inputBox {
    border-color: var(--habla-color);
    border-style: solid;
    border-width: 1px;
    float: left;
    font-size: 18px;
    height: 10px;
    padding: 10px;
    width: 200px;
    margin-bottom: 20px;
}

#join-group-form, #create-group-form {
    margin: 20px auto;
    text-align: center;
    width: 200px;
}

.hablaH1 {
    display: block;
    font-size: 30px;
    margin: 0 auto;
    text-align: center;
}

/*Everything*/
body, label, h1 {
    font-family: Verdana !important;
    color: var(--habla-color) !important;
}
