body {
	font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
	font-size: 100%;
	width: 400px;
}

/*Comment box*/
#comment-box-container {
	width:100%;
}
#comment-box {
	width: 100%;
}
#comment-box-submit-button {
	display: inline-block;
	width: 200px;
	padding: 8px;
	color: #000;
	border: 1px solid #000;
	text-align: center;
	outline: none;
	text-decoration: none;
}

#comment-box-submit-button:hover,
#comment-box-submit-button:active {
  background-color: #000;
  color: #fff;
}


#comments-list {
/* avoid an excessively wide status text */
	word-wrap: break-word;
}